/* Mobile first queries */
/* applies to ALL widths */
html {
  font-family: "Capriola", sans-serif; /* 1 */
    font-weight: 400;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
    height: auto;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
}
h2{
    color: #1A5276;
}
.header {
    padding: 30px 0 20px 0;
    margin-bottom: 25px;
    background-image: url(../altstyles/Images/BannerReplacement.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    float: left;
    width: 35%;
    height: 100%;   
    position: fixed;
}

.container.section.info{
width: 65%;
float: right;
    background-color: white;
    padding: 2%;
}
.logo {
    font-weight: 600;
    color: rgb(255,0,0);
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    z-index: 100;
}
.nav {
  position: fixed;
  z-index: 100;
  text-align: right;
}
.nav .button {
  width: 48%;
  margin: 2px 0;
}
.button {
  background-color: rgba(255,255,255,.9);
}
.button:hover {
  background-color: rgba(255,255,255,.7);
}
.action {
  text-align: center;
  padding-top: 37px;
}
.action h1 {
  margin: 0;
}
.action h2 {
  margin: 0 0 20px 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
.row div h2{
  float:left; 
  padding-right: 2%;
}

.linklogo{
    width: 80%;
    height: 80%;
    max-height: 500px;
    max-width: 280px;
    display: block;
    margin: 0 auto;
}

.linklogo2{
    max-height: 150px;
    max-width: 280px;
    display: block;
    margin: 0 auto;
}

/* Larger than mobile */
/* applies to all widths 400px and greater */
@media (min-width: 400px) {
 
}

/* Larger than phablet */
/* applies to all widths 550px and greater */
@media (min-width: 550px) {
  .header {
    padding: 40px 0 50px 0;
  }
  .logo {
    position: static;
    background-color: transparent;
    font-size: 3rem;
    line-height: 1;
  }
  .nav .button {
    width: auto;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
}

/* Larger than tablet */
/* applies to all widths 750px and greater */
@media (min-width: 750px) {
  .logo {
    font-size: 3rem;
    position: relative;
    top: 5px;
  }
}

/* Larger than desktop */
/* applies to all widths 100px and greater */
@media (min-width: 1000px) {
  
}

/* Larger than Desktop HD */
/* applies to 1200px and greater */
@media (min-width: 1200px) {

}
.headtext{
    color: #ffffff;
    font-weight: 900;
    text-shadow: 5px 1px #000000;
}
.infotext{
    font-weight: 500;
}
.info .button {
  background-color: rgb(215, 143, 97);
  border: none;
  color: white;
}

.info .button:hover {
  background-color: rgb(255, 207, 130);
  border: none;
}

footer{
    background-color: black;
    color: white;
    margin: 0px;
    opacity: .9;
    position: relative;
    z-index: -2;
    float: right;
    width: 65%;
    text-align: center;
}
.indented{
    text-indent: 30px;
}
.image{
    width: 100%;
    height: 100%;
}
.campaign{
    font-size: 1.2em;
}
.centered{
    text-align: center;
}
.about{
    max-width: 200px;
    max-height: 200px;
}
.eight.columns.nav{
    float:left;
    width: 30%;
    padding: 0;
    margin: 0;
    padding-top: 40%;
    text-align: center;
}
.eight.columns{
    text-align: center;
}